:root {
  --background-color: #ffffff;
  --primary-color: #fae2ce;
  --secondary-color: #82703d;
  --info-color: #4e4a4a;
  --heading-font-family: "Cambria", serif;
  --default-font-family: "Calibri", sans-serif;
}

body {
  margin: 10vh 10vw;
}

h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: calc(4em + 4vw);
  font-weight: lighter;
  color: var(--primary-color);
  line-height: 0.75em;
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
  width: 80%;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 2.5rem;
  color: var(--info-color);
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-variant-caps: all-small-caps;
}
p,
a {
  font-family: var(--default-font-family);
  font-size: 0.8rem;
  font-weight: lighter;
  color: var(--info-color);
}

hr {
  border: none;
  border-bottom: 1px solid rgba(78, 74, 74, 0.25);
  opacity: 1;
  color: var(--secondary-color);
}

@media screen and (max-width: 576px) {
  body {
    margin: 6vh 7vw;
  }

  h1 {
    font-size: calc(5em + 5vw);
    width: 100%;
  }
}
