:root {
  --background-color: #ffffff;
  --primary-color: #fae2ce;
  --secondary-color: #82703d;
  --info-color: #4e4a4a;
  --heading-font-family: "Cambria", serif;
  --default-font-family: "Calibri", sans-serif;
}

body {
  margin: 10vh 10vw;
}

h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: calc(4rem + 4vw);
  font-weight: lighter;
  color: var(--primary-color);
  line-height: 0.75em;
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
  inline-size: 85%;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 2.5rem;
  color: var(--info-color);
}

p,
a {
  font-family: var(--default-font-family);
  font-size: 15px;
  color: var(--info-color);
}

@media screen and (max-width: 576px) {
  body {
    margin: 6vh 7vw;
  }

  h1 {
    font-size: calc(4.75rem + 4.75vw);
    inline-size: 85%;
  }
}
